<div class="row">
    <div class="col-sm-3">
        <h2 class="text-center">Select workout</h2>
        <div ng-repeat="workout in workouts" class="workout tile" ng-click="runWorkout(workout)">
            <div class="title">{{workout.title}}</div>
            <div class="stats">
                <span class="duration" title="Duration"><span class="glyphicon glyphicon-time"></span> - {{workout.totalWorkoutDuration()|secondsToTime}}</span>
                <span class="length pull-right" title="Exercise Count"><span class="glyphicon glyphicon-th-list"></span> - {{workout.exercises.length}}</span>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <h1 class="text-center">Ready for a Workout?</h1>
        <br />
        <img src="img/start.png" style="width:70%" class="center-block"/>
        <br />

        <!--<div id="start" class="row action">
            <a href="#/workout">
                <span>Start</span>
                <span class="glyphicon glyphicon-play"></span>
            </a>
        </div>-->
        <div id="build" class="row action">
            <a href="#/builder">
                <span>Create a Workout</span>
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>
